<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <link rel="stylesheet" href="static/shortner/style.css">-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>Document</title>
</head>

<body class="container">
  <h1>
    <center><strong>Welcome</strong></center>
  </h1>
 
  <br><br>
  <div class="wrapper">
    <div class="boxLeft">
      <p>Enter the url here.</p>

    </div>
    <div>
      <form action = "/submit" method = "post">
        {% csrf_token %}
        <label for="big_url"></label>
        <input type="text" id="url" name="big_url"> <br><br>
        <input type="submit" value="Submit">
       

      </form>
    </div>
  </div>
  
  
</body>

</html>