<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="reload" content="5; url=http://127.0.0.1:9000/">

    <style>
        .container {
            height: 200px;
            position: relative;
            /* border: 3px solid green; */
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"> -->
    <script>
        function myFunction(text) {
            navigator.clipboard.writeText(text);

            alert("Copied the text: " + text);
        }
    </script>

<body>
    {% if invalid_case %}
    <h1>
        <center>Invalid URL!&#128579;</center>

    </h1>
    {% else %}
    <p>
        <center>Here is your shortened URL!</center>
    </p>
    <h1>
        
        <div class="box">
            <center>  <a href="{{short_url}}"> {{short_url}}

                </a>
                <button onclick="myFunction('{{short_url}}')"
                    style="background-color: rgb(23, 150, 38);border:0mm; margin: 10px; width: 100px; height: 50px; font-size:20px;">copy
                </button>
                <br>
                <button onclick="history.back()"
                style=" background-color: rgb(90, 90, 224);border:0mm; margin: 10px; width: 150px; height: 50px; font-size:20px;">Go
                Back</button>
            </center>
        </div>


    </h1>
    {% endif %}

</body>
</head>

</html>